#exploreSection {
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#title {
    width: 51rem;
    height: 3.3rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D9D9D9;
}

.exploreCards {
    display: flex;
}