#MainSectionHomepage {
    width: 100%;
    height: 32rem;
    background: linear-gradient(177.86deg, #F58C1F 3.31%, #C25902 25.55%, #AE450A 41.85%, rgba(174, 10, 10, 0.26) 98.2%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#streamingNowHeading {
    width: 85rem;
    height: 12.18rem;
    /* font-family: 'Popp'; */
    font-style: normal;
    font-weight: 700;
    font-size: 7.37rem;
    line-height: 12.18rem;
    background: linear-gradient(179.08deg, rgba(255, 255, 255, 0.4) 10.17%, rgba(255, 255, 255, 0) 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

#carousel {
    border: 2px solid white;
    position: relative;
    top: 7rem;
}