#newStreamers {
    width: 93%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#newStreamersMain {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6rem;
}

#newStreamers-bgTitle {
    text-align: start;
    font-style: normal;
    font-weight: 800;
    font-size: 7.5rem;
    line-height: 186px;
    letter-spacing: 0.1em;
    color: #252525;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.12);
}

#newStreamers-title {
    align-self: flex-start;
    text-align: start;
    width: 51rem;
    height: 3.3rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D9D9D9;
}

.newStreamersCards {
    display: flex;
    max-width: 105rem;
    flex-wrap: wrap;
}