#profilePage {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#upperBackground {
    width: 100vw;
    height: 18rem;
    background: linear-gradient(177.86deg, #F58C1F 3.31%, #C25902 25.55%, #AE450A 41.85%, rgba(174, 10, 10, 0.26) 98.2%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#userData {
    display: flex;
    justify-content: space-between;
}


.userImg {
    position: relative;
    bottom: 10rem;
    left: 5rem;
    width: 20rem;
    height: 20rem;
    background: #D9D9D9;
    border-radius: 200px;
}

.metaData {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: relative;
    bottom: 7rem;
    right: 20rem;
}

.metaData .userName {
    width: 15rem;
    height: 4rem;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.metaData .joiningStatus {
    width: 9rem;
    height: 1.8rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 1.2rem;
}

#impressionDetails {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    position: relative;
    bottom: 9rem;
    margin-right: 2rem;
}


#impressionDetails div {
    margin: 0.4rem;
}

#impressionDetails div span {
    margin-right: 1rem;
}