#topStreamers {
    width: 93%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#topStreamersMain {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6rem;
}

#topStreamers-bgTitle {
    text-align: start;
    font-style: normal;
    font-weight: 800;
    font-size: 4.5vw;
    line-height: 186px;
    letter-spacing: 0.1em;
    color: #252525;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.12);
}

#topStreamers-title {
    align-self: flex-start;
    text-align: start;
    height: 3.3rem;
    font-weight: 700;
    font-size: 2vw;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D9D9D9;
}

.topStreamersCards {
    display: flex;
    max-width: 105rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    #topStreamers-title {
        font-size: 18px;
        line-height: 2rem;
    }
}